.calenderHeader {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 15 400 0 400;
	align-items: center;
	border:  2px  solid darkgray;
	background: lightgray;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}
